# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

#ssh key - aws
/keys
/keys/*

#enovy with comments
Envoy.blade.comments.php

#dist assets
dist

#node modules
node_modules
node_modules/*

/web/app/themes/Epicure/node_modules/
web/app/themes/Epicure/node_modules